.grid{
    display: grid;grid-template-columns: auto auto auto;
}
.products{
display: flex;
margin: 10px;justify-content: space-evenly;
border: 1px solid;padding:0 20px;align-items: center;height: 100%;
}
.product{

}
.logo{
position: absolute;right: 10px;top: 10px;
}
.logo svg{
    height: 50px;
}
.product img{
    height: 100px;
}
.producrt-details{

}
.producrt-details span{
padding: 5px;font-weight: bold;
}

button{
font-size: 15px;background-color: rgb(167, 6, 189);border-radius: 50px;padding: 5px 10px;border: none;color: white  ;margin: 2px;
}